@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  --color-bg: #FFFFFF;
  --color-bg-secondary: #F9F9F9;

  --color-foreground: #1F2937;
  --color-foreground-secondary: #6B7280;
  --color-foreground-soft: #777777;

  --color-main: #4338CA;
  --color-main-light: #7B61FF;
  --color-main-dark: #3730A3;
  --color-main-soft: #EEEBFF;

  --color-red: #AF0C48;
  --color-green: #00AB6B;
  --color-blue: #0077B5;
  --color-yellow: #FFE86E;
  --color-divider: #BAB2E7;
}

.dark {
  --color-bg: #252128;
  --color-bg-secondary: #141414;
  --color-bg-soft: #383838;

  --color-foreground: #AEBCCF;
  --color-foreground-secondary: #FFFFFF;
  --color-foreground-soft: #6b7280;

  --color-main: #B7AAFF;
  --color-main-light: #E1E1FF;
  --color-main-dark: #8F88FF;
  --color-main-soft: #4731D3;
  --color-main-text: #3730A3;
}

body {
  background-color: var(--color-bg);
}

.section-title {
  @apply text-4xl text-foreground font-semibold
}

.section-subtitle {
  @apply text-2xl text-main font-medium
}

.section-paragraph {
  @apply text-foreground-secondary text-sm font-light
}

.divider {
  @apply w-full text-divider
}

